* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: ;
    --secondary-color: ;
    --tertiary-color: black;
}

body {
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
}

.border-right {
    border-right: 2px solid var(--tertiary-color);
}

.sidebar {
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 20%;
    align-items: flex-start;
    border-right: 1px solid var(--tertiary-color);
}


.content {
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 80%;
}

.sections {
    margin: 20px auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}


.header {
    margin: 10px auto;
    padding: 25px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header h1 {
    font-weight: bold;
    font-size: 36px;
}

.header a {
    text-decoration: none;
}

.header nav {
    margin: 5px 0;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header nav ul li a {
    font-size: 22px;
    padding: 12px 15px;
    
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.project img {
    height: 250px;
    width: 500px;
    padding: 10px;
}

.big-img img {
    height: 575px;
    width: 1000px;
    padding: 10px;
}

footer {
    width: 100%;
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer h3 {
    font-size: 18px;
    margin: 0;
}

.content ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.content ul li a {
    padding: 20px 40px;
    flex: 2 70%;
    display: flex;
    justify-content: center;    
    text-decoration: none;
}